doctype html
html(lang='en')
  head
    title Hazlo
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if currentUser
      h1 Welcome Back #{currentUser.name}
    else
      h1 Welcome to the thing

    hr
    pre=JSON.stringify(session, null, 4)