if error
  h1= error
form(method="post" action="/todos/"+todo.id)
  div
    input(type="text" name="todo[title]" placeholder="title" value=todo.title autofocus)
  div
    input(type="submit" value="Save")