.flexbox-grid
  if newTodoError
    h1= newTodoError
  form(method="post" action="/todos")
  h2 New Todo
    div
      input(type="text" name="todo[title]" placeholder="title" value=title required pattern=".{3,}")
    div
      label.tiny-font Work
      input(type="radio" name="todo[work]" value="true" required) 
      label.tiny-font Personal
      input(type="radio" name="todo[work]" value="false" required) 
    div
      input(type="submit" value="Create")