extends ./layout

block content
  .banner
    div
      img(src='http://i.imgur.com/8ehdxdu.png')

  .about
    h3(style='text-align: center') Maintain maintain balance between work and life. Keep all of your tasks in one place.
       