extends ./layout

block content
  h1 Hazlo 
  .Grid.Grid--full.Grid--nested.header
    .Grid-cell
      .Demo.Holly
        img(src='http://placehold.it/100x50/CC99CC/ffffff&text=Logo', style='vertical-align: middle;')
        strong  Header / Logo
        img(src='./images/hazlo-banner-frida.jpg')