extends ./layout

block content
  .banner
    div
      img(src='http://i.imgur.com/8ehdxdu.png')

  h1(style='text-align: center') About Us
  .about-us.flexbox-grid
    .col-md-3.media-object
      img.picture(src= 'http://i.imgur.com/5HDNHwbt.jpg', alt='...')
      a(href="https://www.linkedin.com/in/aileenclairesantos")
        h3 Aileen Santos
        p Full Stack Developer
    .col-md-8.text-left
      p Full stack software engineer with a strong background in education. I care deeply about reaching diverse communities through technology and creating products that solve real problems. Savvy at understanding users and creating an enticing user experience. Passionate about building applications that affect positive social change.

      p A creative / out of the box thinker, persistent problem solver, and resourceful collaborator, I bring positive energy and a willingness to achieve that pushes the team I am on to do their best in any project. As an educator, I am attuned with my individual learning style and have trained myself how to quickly learn new languages, think through problems in an analytical manner by breaking them into small steps. Programming taps into my creativity and strengths as a language teacher and learner.
    
  .about-us.flexbox-grid
    .col-md-3.media-object
      img.picture(src= 'http://i.imgur.com/FJirVs4t.jpg', alt='...')
      a(href="https://www.linkedin.com/in/aileenclairesantos")
        h3 Ana Sauceda
        p Full Stack Developer
    .col-md-8.text-left
      p Full stack software engineer with a strong background in education. I care deeply about reaching diverse communities through technology and creating products that solve real problems. Savvy at understanding users and creating an enticing user experience. Passionate about building applications that affect positive social change.
  .about-us.flexbox-grid
    .col-md-3.media-object
      img.picture(src= 'http://i.imgur.com/jNvKUWzt.jpg', alt='...')
      a(href="https://www.linkedin.com/in/deadlyicon")
        h3 Jared Grippe
        p Professional Player
        p Partner at Learner's Guild
    .col-md-8.text-left
      p I teach programming and web development to students in a 9 week intensive program. In 9 weeks we take someone from 0 programming knowledge to an employable web developer. The amount these students accomplish in just 9 weeks is consistently amazing.
       