doctype html
html(lang='en')
  head
    title Hazlo
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Playfair+Display')
    link(rel='stylesheet' href='/stylesheets/style.css')

  body
    header.responsive-header
      nav(role='navigation')
        ul.header-list
          li
            a(href='/')
              div
                | Hazlo
                span Do It
          if loggedIn
            li
              a(href='/blog')
                div
                  | Tasks
              div
                ul
                  li
                    a(href='/work') Work
                  li
                    a(href='/personal') Personal
          li
            a(href='/contact')
              div
                | Us
                span freelance
          if loggedIn
            li 
              a(href='/logout')
                div
                  | Logout
          else 
            li
              a(href='/login')
                div
                  | Login
            li
              a(href='/signup')
                div
                  | Sign Up
  main
    block content



