doctype html
html(lang='en')
  head
    title Hazlo
    link(href='https://fonts.googleapis.com/css?family=Playfair+Display', rel='stylesheet')
    link(rel='stylesheet', href='../stylesheets/style.css')
  body
    script(src='https://code.jquery.com/jquery-3.1.0.min.js', integrity='sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=', crossorigin='anonymous')
    header.responsive-header
      nav(role='navigation')
        ul.header-list
          li
            a(href='/')
              div
                | Hazlo
                span Do It
          li
            a(href='/blog')
              div
                | Tasks
            div
              ul
                li
                  a(href='#') Work
                li
                  a(href='#') Personal
          li
            a(href='/contact')
              div
                | Us
                span freelance
  block content