doctype html
html(lang='en')
  head
    title Hazlo
    link(href='https://fonts.googleapis.com/css?family=Playfair+Display', rel='stylesheet')
    link(rel='stylesheet', href='../stylesheets/style.css')

  body
    header.responsive-header
      nav(role='navigation')
        ul.header-list
          li
            a(href='/')
              div
                | Hazlo
                span Do It
          li
            a(href='/blog')
              div
                | Tasks
            div
              ul
                li
                  a(href='#') Work
                li
                  a(href='#') Personal
          li
            a(href='/contact')
              div
                | Us
                span freelance

          li
            a(href='/login')
              div
                | Login
          li
            a(href='/signup')
              div
                | Sign Up
  block content



