doctype html
html(lang='en')
  head
    title Hazlo
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  .row
      .back-img.col-12
        h2 Background Image
        |     This is some text within a normal column, the difference? This one has an image as background instead of a solid color.
  block content

    
