 
/*GENERIC STYLES*/

html, body { 
  margin: 0;
  padding: 0;
  background: #f2f2f2;
  color: #222;
  -webkit-font-smoothing: antialiased;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  height: 100%;
  width: 100%;
}

main {
  margin-top: 95px;
}

.text-align-right{
  text-align: right;
}

.tiny-font {
  font-size: 18px

body { margin: 0; background: #f2f2f2;color: #222;-webkit-font-smoothing: antialiased;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 1.05em;font-weight: 400;height: auto !important;height: 100%;line-height: 1.6rem;min-height: 100%;}
/*forms*/

.login-form {
  padding-top: 500px;
}

.login-form img {
  padding-top: 100px;
}

.login-form input {
    width:350px;
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:20px;
    padding-bottom: 15px;
    font-size: 15px;
    padding: 13px; 
    border-bottom:1px solid #eee;
    position:relative;
}

.submit {
  padding: 15px;
  position:center;
}


/*homepage*/

.page-header {
  font-family: "Lucida Grande";
  text-align: center;
  font-size: 74px;
  padding: 50px;
}

.page-header-login {
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 50px;
  padding-top: 250px;
  padding-bottom:25px;
}

.flexbox-grid-about {
  font-family: 'Playfair Display', serif;
  display: flex;
  margin-right: 150px;
  margin-left: 150px;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.col-md-3.media-object {
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50pm;
}


.about {
  display:flex;
  font-family: "HelveticaNeue-Light";
}

.sign-up {
  padding-top: 200px;
  text-align: center;
}

.login {
  padding-top: 200px;
  text-align: center;
}

.flexbox-grid {
  font-family: 'Playfair Display', serif;
  display: flex;
  margin-right: 150px;
  margin-left: 150px;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.picture {
  padding-top: 80px;
}

.text-left {
  padding-left: 50px;
}

.center {
  display: flex;
  justify-content: center;
}


.banner { 
  padding-top: 78px;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
}

.banner div { 
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 200px; 
  margin: .5vw; 
}

.banner div img { 
  width: 100%; 
  height: auto; 
}

@media screen and (max-width: 400px) {
  .banner div { margin: 0; }
  .banner { padding: 0; }
  
}

.todo-list-item.completed{
  text-decoration: line-through;
  opacity: 0.5;
}

/*homepage*/

/*NAV*/
  .responsive-header {
    z-index: 10;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to left,rgba(22, 60, 60, 1) 0,rgba(9, 16, 16, 1) 100%);
    border-bottom: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  }
  
  .header-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .header-list > li:hover {
    background: purple;

  }
    .link {
      flex: 0 1 auto;
      margin: 0;
      padding: 0;
      position: relative;
      transition: all linear 0.1s;  
    }
    
      .header-list li:hover {
        background: rgba(58,162,173,1);
      }
      
      .header-list li a + div {
        background: linear-gradient(to bottom,rgba(58,162,173,1) 0,rgba(62,188,207,0.96) 100%);;
        border-radius: 0 0 2px 2px;
        box-shadow: 0 3px 1px rgba(0,0,0,.05);
        display: none;
        font-size: 1rem;
        position: absolute;
        width: 195px;
      }
      
        header > nav > ul > li:hover a + div {
          display: block;
        }
        
        header > nav > ul > li a + div > ul {
          list-style-type: none;  
        }
        
          header > nav > ul > li a + div > ul > li {
            margin: 0;
            padding: 0;
          }
          
            header > nav > ul > li a + div > ul > li > a {
              color: rgba(255,255,255,.9);
              display: block; 
              font-size: .75rem;
              letter-spacing: 1.5px;
              padding: .25rem 1.5rem;
              text-decoration: none;
              text-transform: uppercase;
            }
            
              header > nav > ul > li a + div > ul > li:hover > a {
                background-color: rgba(0,0,0,.15);  
              }
  
      header > nav > ul > li > a {
        align-items: flex-start;
        color: #fff;
        display: flex;
        font-family: 'Playfair Display', serif;
        font-size: 1.55rem;
        font-weight: 200;
        letter-spacing: 1px;
        max-width: 130px;
        padding: 1rem 1.5rem;
        text-decoration: none;
        text-shadow: 0 1px 1px rgba(0,0,0,.1);
        transition: all linear 0.1s;
      }
      
        header > nav > ul > li > a > div > span {
          color: rgba(255,255,255,.75);
          display: block;
          font-family: Georgia, "Times New Roman", Times, serif;
          font-size: .7rem; 
          font-style: italic;
          line-height: 1rem;
          max-width: 260px;
        }

@media (min-width: 990px) {
  header > nav > ul > li > a {
    max-width: 500px;
    font-size: 1.7rem;
    line-height: 2rem;
  }
  
  header > nav > ul > li > a > div > span {
    margin: 4px 0 0;  

  }

}

