extends ../layout

block content
  if error
    h1= error
  .flexbox-grid.login
    h1 Login
    form(method="post" action="/login")
      div
        input(type="text" name="email" placeholder="email" value=email)
      div
        input(type="password" name="password" placeholder="password")
      div
        input(type="submit" value="Login")
