extends ../layout

block content
    if error
      h1= error
      pre= stack
    form(method="post" action="/signup")
      h1 Sign up for Hazlo
      div
        input(type="text" name="user[email]" placeholder="email" value=email)
      div
        input(type="text" name="user[avatar_url]" placeholder="avatar url" required="")
      div
        input(type="password" name="user[password]" placeholder="password" required="")
      div
        input(type="password" name="user[password_confirmation]" placeholder="password confirmation" required="")
      div
        input(type="submit" value="Signup")

